@page "/"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IUserData db
<header>
    <div class="wrapper">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700|PT+Mono|Ubuntu:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <link rel="stylesheet" type="text/css" href="../css/Login.css" />
        <meta charset="UTF-8">
        <h1><span>TOP 100 - Login.</span></h1>
    </div>
</header>

<main>
    <div class="wrapper">
        <h2>Welkom op de TOP 100 web applicatie.</h2>
        <form>
            <fieldset>
                <p>
                    <label for="username">Username: </label><br>
                    <input type="text" id="username" name="username">
                </p>
                <p>
                    <label for="password">Password: </label><br>
                    <input type="text" id="password" name="password"><br>   
                </p>
                <p>
                    <input type="submit" value="Login">
                </p>
            </fieldset>
        </form>
    </div>

    <!--
    @if(users is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mail</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Mail</td>
                        <td>@user.Password</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    -->

</main>

<footer>
    <div class="wrapper">
        <h2><span>Developed by</span></h2>
        <div id="NameMichel">
            <p>Michel Michels</p>
            <a href="https://github.com/MichelMichels"><img src="/Images/github.png" asp-append-version="true" alt="Link to Michel Michels on Github" height="25px" width="25px"></a>
        </div>
        <div id="NameSimon">
            <p id=>Simon Loosveldt</p>
            <a href="https://github.com/SimonLoosveldt"><img src="/Images/github.png" asp-append-version="true" alt="Link to Simon Loosveldt on Github" height="25px" width="25px"></a>
        </div>
    </div>
</footer>

@code {
    private List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await db.GetUsers();
    }
}

