@page "/"


<header>
    <div class="wrapper">
        <h1><span>TOP 100 - Login.</span></h1>
    </div>
</header>

<main>
    <div class="wrapper">
        <h2>Welkom op de TOP 100 web applicatie.</h2>
        <form>
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="username">
            <label for="password">Password: </label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</main>

<footer>
    <div class="wrapper">
        <h2><span>Developed by</span></h2>
        <div id="NameMichel">
            <p>Michel Michels</p>
            <a href="https://github.com/MichelMichels"><img src="/Images/github.png" asp-append-version="true" alt="Link to Michel Michels on Github" height="25px" width="25px"></a>
        </div>
        <div id="NameSimon">
            <p id=>Simon Loosveldt</p>
            <a href="https://github.com/SimonLoosveldt"><img src="/Images/github.png" asp-append-version="true" alt="Link to Simon Loosveldt on Github" height="25px" width="25px"></a>
        </div>
    </div>
</footer>

@code {

}

