@page "/"


<header>
    <div class="wrapper">
        <h1><span>TOP 100 - Login.</span></h1>
    </div>
</header>

<main>
    <div class="wrapper">
        <h2>Welkom op de TOP 100 web applicatie.</h2>
        <form>
            <input type="submit" value="Login with Google">
            <input type="submit" value="Login with Facebook">
            <input type="submit" value="Login with Instagram">
        </form>
    </div>
</main>

<footer>
    <div class="wrapper">
        <h2><span>Developed by</span></h2>
        <div id="NameMichel">
            <p>Michel Michels</p>
            <a href="https://github.com/MichelMichels"><img src="~/Images/github.png" alt="Link to Michel Michels on Github" height="25px" width="25px"></a>
        </div>
        <div id="NameSimon">
            <p id=>Simon Loosveldt</p>
            <a href="https://github.com/SimonLoosveldt"><img src="~/Images/github.png" alt="Link to Simon Loosveldt on Github" height="25px" width="25px"></a>
        </div>
    </div>
</footer>

@code {

}

