@page "/main"

@using DataAccessLibrary
@using DataAccessLibrary.Models

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700|PT+Mono|Ubuntu:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <meta charset="UTF-8">
    <title>TOP100 - Mainform</title>
</head>

<body>

    <header>
        <div class="wrapper">
            <h1><span>TOP 100 - Invulformulier.</span></h1>
        </div>
    </header>

    <main>
        <div class="wrapper">
            <form>
                <fieldset>
                    <p>
                        <label for="songNr1">Nummer 1 (100 punten): </label><br>
                        <input type="text" id="songNr1" name="songNr1"><br>
                    </p>
                    <p>
                        <label for="songNr2">Nummer 2 (99 punten): </label><br>
                        <input type="text" id="songNr2" name="songNr2"><br>
                    </p>
                    <p>
                        <label for="songNr3">Nummer 3 (98 punten): </label><br>
                        <input type="text" id="songNr3" name="songNr3"><br>
                    </p>
                    <p>
                        <label for="songNr4">Nummer 4 (97 punten): </label><br>
                        <input type="text" id="songNr4" name="songNr4"><br>
                    </p>
                    <p>
                        <label for="songNr5">Nummer 5 (96 punten): </label><br>
                        <input type="text" id="songNr5" name="songNr5"><br>
                    </p>
                    <p>
                        <label for="songNr6">Nummer 6 (95 punten): </label><br>
                        <input type="text" id="songNr6" name="songNr6"><br>
                    </p>
                    <p>
                        <label for="songNr7">Nummer 7 (94 punten): </label><br>
                        <input type="text" id="songNr7" name="songNr7"><br>
                    </p>
                    <p>
                        <label for="songNr8">Nummer 8 (93 punten): </label><br>
                        <input type="text" id="songNr8" name="songNr8"><br>
                    </p>
                    <p>
                        <label for="songNr9">Nummer 9 (92 punten): </label><br>
                        <input type="text" id="songNr9" name="songNr9"><br>
                    </p>
                    <p>
                        <label for="songNr10">Nummer 10 (91 punten): </label><br>
                        <input type="text" id="songNr10" name="songNr10"><br>
                    </p>
                    <p>
                        <label for="songNr11">Nummer 11 (90 punten): </label><br>
                        <input type="text" id="songNr11" name="songNr11"><br>
                    </p>
                    <p>
                        <label for="songNr12">Nummer 12 (89 punten): </label><br>
                        <input type="text" id="songNr12" name="songNr12"><br>
                    </p>
                    <p>
                        <label for="songNr13">Nummer 13 (89 punten): </label><br>
                        <input type="text" id="songNr13" name="songNr13"><br>
                    </p>
                    <p>
                        <label for="songNr14">Nummer 14 (89 punten): </label><br>
                        <input type="text" id="songNr14" name="songNr14"><br>
                    </p>
                    <p>
                        <label for="songNr15">Nummer 15 (89 punten): </label><br>
                        <input type="text" id="songNr15" name="songNr15"><br>
                    </p>

                    <input type="submit" value="Verzenden">
                </fieldset>
            </form>
        </div>
    </main>

    <footer>
        <div class="wrapper">
            <h2><span>Developed by</span></h2>
            <div id="NameMichel">
                <p>Michel Michels</p>
                <a href="https://github.com/MichelMichels"><img src="/Images/github.png" alt="Link to Michel Michels on Github" height="25px" width="25px"></a>
            </div>
            <div id="NameSimon">
                <p>Simon Loosveldt</p>
                <a href="https://github.com/SimonLoosveldt"><img src="/Images/github.png" alt="Link to Simon Loosveldt on Github" height="25px" width="25px"></a>
            </div>
        </div>
    </footer>

</body>


@code {

}
